# ZOMATO API request data extraction based on Lat Long
## by Nr
### This notebook require zomato API key (https://developers.zomato.com/api?lang=id), CSV of ID and Coordinates.
#### Step: QGIS>>Create HexGrid>>Compute Centroid>> Give ID>> Export as CSV
#### Exported CSV>>as input in this notebook>>Output csv (Zomato data enchanced)

In [40]:
import requests
import ast
import json
import pandas as pd

In [106]:
data=pd.read_csv("./misskel.csv") #HEXBIN Centroid ID,LAT,LONG (geodetic,WGS84)

In [107]:
data

      ID       long      lat
0      1  106.88667 -6.13724
1      2  106.88667 -6.12569
2      3  106.88667 -6.11414
3      4  106.88667 -6.10260
4      5  106.89667 -6.37395
..   ...        ...      ...
510  511  106.88667 -6.19497
511  512  106.88667 -6.18342
512  513  106.88667 -6.17188
513  514  106.88667 -6.16033
514  515  106.88667 -6.14878

[515 rows x 3 columns]

In [135]:
#ZOMATO API REQUEST PER COORDINATE
base_url = "https://developers.zomato.com/api/v2.1/"
APIkey='your_Zomato_API_key' # YOUR Zomato API KEY
headers = {'Accept': 'application/json', 'user-key': APIkey}

s=[]
for i in range(0,len(data)):
    r = (requests.get(base_url + "geocode?lat=" + str(data['lat'].iloc[i]) + "&lon=" + str(data['long'].iloc[i]), headers=headers).json())
    s.append([r['location']['title'],r['popularity']['top_cuisines'],float(r['popularity']['popularity']),float(r['popularity']['nightlife_index']),len(r['nearby_restaurants'])])

In [149]:
extract=pd.DataFrame(s)

In [155]:
df=pd.concat([data['ID'],extract],axis=1)

In [159]:
df2=df.rename(columns={0: "lokasi", 1: "top_cuisines", 2: "popularity", 3: "nightlife_index",4: "restaurant count"})

In [160]:
df2[['top_cuisines1','top_cuisines2','top_cuisines3','top_cuisines4','top_cuisines5']] = pd.DataFrame(df2.top_cuisines.tolist(), index= df2.index)

In [162]:
df2=df2.drop(['top_cuisines'], axis=1)

In [164]:
df2.to_csv('zomato.csv') #FINAL OUTPUT file name